{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "arrow-body-style": 0,
    "camelcase": 0,
    "no-param-reassign": 0,
    "comma-dangle": 0,  // not sure why airbnb turned this on. gross.
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-console": 0,
    "no-alert": 0,
    "func-names": 0,
    "space-before-function-paren": 0,
    "object-shorthand": [1, "properties"],
    "no-underscore-dangle": 0,
    "quote-props": 0
  }
}
