.line {
  background-image: linear-gradient(
    to right,
    var(--body-color-faded) 50%,
    var(--body-color) 50%
  );
  height: 1px;
  position: absolute;
  transform-origin: 0px 0px;
  user-select: none;
  display: flex;
  align-items: center;

  &:focus-visible {
    outline: 0;

    [data-slot="meta"] {
      opacity: 1 !important;
      outline: 2px solid #ff4d00;
      outline-offset: 4px;
      border-radius: 6px;
    }
  }

  &[data-variant="large"] {
    background-image: linear-gradient(
      to right,
      var(--body-color) 50%,
      var(--body-color) 50%
    );
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      width: 100%;
      height: 100%;
      background: transparent;
      padding: 8px;
      border-radius: 8px;
    }
  }

  &[data-hovered="true"],
  &:focus-visible {
    background: #ff4d00;
    color: #ff4d00;
  }
}

/* Fixed positioned container */
.fixedContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

/* Absolute positioned container */
.absoluteContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transform-origin: 50% 7vh;
}

/* Full size container */
.fullSize {
  height: 100%;
  width: 100%;
}

/* Meta container */
.meta {
  display: flex;
  transform: translateY(-50%);
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}

/* Sheet container */
.sheet {
  position: relative;
  top: 0;
  margin: 0 auto;
  margin-top: 50vh;
  display: flex;
  max-width: 700px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 100px;
}

.sheet[data-active="false"] {
  pointer-events: none;
}

/* Content container */
.content {
  font-size: 15px;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media screen and (min-width: 900px) {
  .fixedContainer {
    scale: 0.85;
  }
}
