@import "tailwindcss";

:root {
  --background: hsl(0 0% 2%);
  --foreground: hsl(0 0% 98%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }
  html,
  body {
    height: 100%;
  }
  body {
    @apply bg-background text-foreground;
    overscroll-behavior: none;
  }

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  * {
    scrollbar-width: none;
  }
}
