.card {
  --card-background-color-start: #007354b0;
  --card-background-color-end: #007354;

  --card-gradient-start: rgba(12, 160, 113, 1);
  --card-gradient-end: rgba(12, 160, 113, 0.7);

  --shine-angle: 200deg;
  --shine-opacity: 0.5;
  --shine-background-color: var(--colors-gray300);
}

[data-theme="dark"] .card {
  --card-background-color-start: #001d15b0;
  --card-background-color-end: #001d15;

  --card-gradient-start: rgba(12, 160, 113, 0.5);
  --card-gradient-end: rgba(12, 160, 113, 0.2);

  --shine-angle: 200deg;
}

.card.card h2 {
  position: absolute;
  color: #fff;
  padding: 26px 32px;
  font-size: 1.8rem;
  font-weight: 400;
}

.card .background {
  margin-top: auto;
  transform: translateX(30%);
}

@media screen and (max-width: 600px) {
  .card.card h2 {
    font-size: 1.5em;
    padding: 20px;
  }
}
