.card {
  --shine-opacity: 0.7;
  --shine-background-color: var(--colors-gray300);
  --shine-angle: 230deg;
}

.card .logo {
  position: absolute;
  bottom: 32px;
  left: 32px;
  object-fit: contain;
}

[data-theme="dark"] .card video {
  filter: invert(1);
  mix-blend-mode: luminosity;
  border-radius: 8px;
}
