.card > * {
  background: linear-gradient(
    40deg,
    rgba(29, 33, 106, 1) 0%,
    rgba(77, 58, 152, 1) 26%,
    rgba(20, 26, 88, 1) 63%,
    rgba(70, 177, 201, 1) 100%
  );
}

[data-theme="dark"] .card > * {
  background: linear-gradient(
    40deg,
    rgba(29, 33, 106, 1) 0%,
    rgba(77, 58, 152, 1) 26%,
    rgba(20, 26, 88, 1) 63%,
    rgba(70, 177, 201, 1) 100%
  );
}

.card.card h2 {
  position: absolute;
  color: #fff;
  padding: 26px 32px;
  font-size: 1.8rem;
  font-weight: 400;
}

.card .background {
  margin-top: auto;
  transform: translateX(30%);
}

@media screen and (max-width: 600px) {
  .card.card h2 {
    font-size: 1.5em;
    padding: 20px;
  }
}
