*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-primary), "Helvetica", sans-serif;
  font-size: 0.95rem;
  line-height: 1.7;
  color: var(--body-color);
  background-color: var(--bg-highlighted);
  background-image: radial-gradient(
    150% 150% at 0% 20%,
    var(--bg-highlighted) 20%,
    var(--bg-color)
  );
  background-attachment: fixed;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  object-fit: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-weight: 500;
  line-height: 1;
}

#__next {
  min-height: 100%;
  isolation: isolate;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
  border: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

button,
[role="button"] {
  cursor: pointer;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  max-width: 55ch;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--body-color);
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px var(--body-color), 0 0 5px var(--body-color);
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}

.blurHeader {
  top: 0;
  user-select: none;
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 1;
  backdrop-filter: blur(5px);
  opacity: 0.95;
  mask-image: linear-gradient(
    to bottom,
    var(--bg-highlighted) 25%,
    transparent
  );
}

.blurHeader::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, var(--bg-highlighted), transparent);
}

@media screen and (max-width: 600px) {
  .blurHeader {
    height: 60px;
  }
}

@keyframes slideDownIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDownOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@keyframes slideUpIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}
