/* Shared */
.container {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  padding: 90px 20px 140px;
  margin: 0 auto;
  gap: 36px;
}

.relative {
  position: relative;
}

.header {
  color: canvasText;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section h2 {
  color: canvasText;
}

/* Home Page */

/* About Page */
.list li {
  background-image: var(--arrow);
  background-position-y: 5px;
  background-repeat: no-repeat;
  margin-bottom: 4px;
  padding-left: 24px;
}

.logos {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-gap: 20px;
  margin: 16px 0 32px;
}

.logos img {
  width: 100%;
  height: auto;
  transition: filter ease 0.3s;
}

.logos a:focus-visible img,
.logos img:hover {
  filter: var(--filter-highlight);
}

/* Responsive - mobile */
@media screen and (max-width: 600px) {
  .container {
    padding: 60px 28px 140px;
  }

  .logos {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

/* Showcase Page */
.aside {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: fixed;
  left: 0;
  padding-left: 48px;
  top: 30%;
  width: 264px;
}

.aside::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 32px;
  height: 1px;
  background-color: var(--colors-gray400);
}

[data-theme="dark"] .aside::before {
  background-color: var(--colors-gray700);
}

.asideDescription {
  color: var(--body-color-faded);
}

.timeline {
  position: fixed;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  pointer-events: none;
}

.timelinePath {
  stroke: var(--colors-gray400);
}

[data-theme="dark"] .timelinePath {
  stroke: var(--colors-gray700);
}
