:root {
  --logo-gh: #333333;
  --logo-tw: #55acee;
  --logo-in: #4875b4;
  --logo-dr: #ea4c89;

  --colors-gray0: #ffffff;
  --colors-gray50: #f8fafc;
  --colors-gray100: #f1f5f9;
  --colors-gray200: #e2e8f0;
  --colors-gray300: #cbd5e1;
  --colors-gray400: #94a3b8;
  --colors-gray500: #64748b;
  --colors-gray600: #475569;
  --colors-gray700: #334155;
  --colors-gray800: #1e293b;
  --colors-gray900: #0f172a;
  --colors-gray950: #020617;
  --colors-gray1000: #000;

  --bg-faded: var(--colors-gray100);
  --bg-color: var(--colors-gray300);
  --bg-highlighted: var(--colors-gray0);

  --body-color-faded: var(--colors-gray500);
  --body-color: var(--colors-gray900);
  --body-color-highlighted: var(--colors-gray1000);

  --border-color: var(--colors-gray200);

  --arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='none' stroke='%230f172a' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' %3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3Cpolyline points='12 5 19 12 12 19'%3E%3C/polyline%3E%3C/svg%3E");

  --filter-faded: brightness(1.3);
  --filter-highlight: brightness(0);

  --link-color: var(--colors-gray900);
  --link-color-hover: var(--colors-gray1000);

  --dock-bg: rgba(15, 23, 42, 0.12);
  --colors-panel: white;
  --colors-transparentPanel: hsl(0 0% 0% / 97%);

  --colors-shadowLight: hsl(206 22% 7% / 35%);
  --colors-shadowDark: hsl(206 22% 7% / 20%);

  --colors-tomato1: hsl(10, 100%, 99.4%);
  --colors-tomato2: hsl(8, 100%, 98.4%);
  --colors-tomato3: hsl(8, 100%, 96.6%);
  --colors-tomato4: hsl(8, 100%, 94.3%);
  --colors-tomato5: hsl(8, 92.8%, 91%);
  --colors-tomato6: hsl(9, 84.7%, 86.3%);
  --colors-tomato7: hsl(10, 77.3%, 79.5%);
  --colors-tomato8: hsl(10, 71.6%, 71%);
  --colors-tomato9: hsl(10, 78%, 54%);
  --colors-tomato10: hsl(10, 71.5%, 50%);
  --colors-tomato11: hsl(10, 82%, 43.5%);
  --colors-tomato12: hsl(10, 50%, 13.5%);

  --colors-crimson1: hsl(332, 100%, 99.4%);
  --colors-crimson2: hsl(330, 100%, 98.4%);
  --colors-crimson3: hsl(331, 85.6%, 96.6%);
  --colors-crimson4: hsl(331, 78.1%, 94.2%);
  --colors-crimson5: hsl(332, 72.1%, 91.1%);
  --colors-crimson6: hsl(333, 67%, 86.7%);
  --colors-crimson7: hsl(335, 63.5%, 80.4%);
  --colors-crimson8: hsl(336, 62.3%, 72.9%);
  --colors-crimson9: hsl(336, 80%, 57.8%);
  --colors-crimson10: hsl(336, 73.7%, 53.5%);
  --colors-crimson11: hsl(336, 75%, 47.2%);
  --colors-crimson12: hsl(340, 65%, 14.5%);

  --colors-pink1: hsl(322, 100%, 99.4%);
  --colors-pink2: hsl(323, 100%, 98.4%);
  --colors-pink3: hsl(323, 86.3%, 96.5%);
  --colors-pink4: hsl(323, 78.7%, 94.2%);
  --colors-pink5: hsl(323, 72.2%, 91.1%);
  --colors-pink6: hsl(323, 66.3%, 86.6%);
  --colors-pink7: hsl(323, 62%, 80.1%);
  --colors-pink8: hsl(323, 60.3%, 72.4%);
  --colors-pink9: hsl(322, 65%, 54.5%);
  --colors-pink10: hsl(322, 63.9%, 50.7%);
  --colors-pink11: hsl(322, 75%, 46%);
  --colors-pink12: hsl(320, 70%, 13.5%);

  --colors-plum1: hsl(292, 90%, 99.4%);
  --colors-plum2: hsl(300, 100%, 98.6%);
  --colors-plum3: hsl(299, 71.2%, 96.4%);
  --colors-plum4: hsl(299, 62%, 93.8%);
  --colors-plum5: hsl(298, 56.1%, 90.5%);
  --colors-plum6: hsl(296, 51.3%, 85.8%);
  --colors-plum7: hsl(295, 48.2%, 78.9%);
  --colors-plum8: hsl(292, 47.7%, 70.8%);
  --colors-plum9: hsl(292, 45%, 51%);
  --colors-plum10: hsl(292, 50.2%, 46.9%);
  --colors-plum11: hsl(292, 60%, 42.5%);
  --colors-plum12: hsl(291, 66%, 14%);

  --colors-indigo1: hsl(225, 60%, 99.4%);
  --colors-indigo2: hsl(223, 100%, 98.6%);
  --colors-indigo3: hsl(223, 98.4%, 97.1%);
  --colors-indigo4: hsl(223, 92.9%, 95%);
  --colors-indigo5: hsl(224, 87.1%, 92%);
  --colors-indigo6: hsl(224, 81.9%, 87.8%);
  --colors-indigo7: hsl(225, 77.4%, 82.1%);
  --colors-indigo8: hsl(226, 75.4%, 74.5%);
  --colors-indigo9: hsl(226, 70%, 55.5%);
  --colors-indigo10: hsl(226, 58.6%, 51.3%);
  --colors-indigo11: hsl(226, 55%, 45%);
  --colors-indigo12: hsl(226, 62%, 17%);

  --colors-blue1: hsl(206, 100%, 99.2%);
  --colors-blue2: hsl(210, 100%, 98%);
  --colors-blue3: hsl(209, 100%, 96.5%);
  --colors-blue4: hsl(210, 98.8%, 94%);
  --colors-blue5: hsl(209, 95%, 90.1%);
  --colors-blue6: hsl(209, 81.2%, 84.5%);
  --colors-blue7: hsl(208, 77.5%, 76.9%);
  --colors-blue8: hsl(206, 81.9%, 65.3%);
  --colors-blue9: hsl(206, 100%, 50%);
  --colors-blue10: hsl(208, 100%, 47.3%);
  --colors-blue11: hsl(211, 100%, 43.2%);
  --colors-blue12: hsl(211, 100%, 15%);

  --colors-cyan1: hsl(185, 60%, 98.7%);
  --colors-cyan2: hsl(185, 73.3%, 97.1%);
  --colors-cyan3: hsl(186, 70.2%, 94.4%);
  --colors-cyan4: hsl(186, 63.8%, 90.6%);
  --colors-cyan5: hsl(187, 58.3%, 85.4%);
  --colors-cyan6: hsl(188, 54.6%, 78.4%);
  --colors-cyan7: hsl(189, 53.7%, 68.7%);
  --colors-cyan8: hsl(189, 60.3%, 52.5%);
  --colors-cyan9: hsl(190, 95%, 39%);
  --colors-cyan10: hsl(191, 91.2%, 36.8%);
  --colors-cyan11: hsl(192, 85%, 31%);
  --colors-cyan12: hsl(192, 88%, 12.5%);

  --colors-green1: hsl(136, 50%, 98.9%);
  --colors-green2: hsl(138, 62.5%, 96.9%);
  --colors-green3: hsl(139, 55.2%, 94.5%);
  --colors-green4: hsl(140, 48.7%, 91%);
  --colors-green5: hsl(141, 43.7%, 86%);
  --colors-green6: hsl(143, 40.3%, 79%);
  --colors-green7: hsl(146, 38.5%, 69%);
  --colors-green8: hsl(151, 40.2%, 54.1%);
  --colors-green9: hsl(151, 55%, 41.5%);
  --colors-green10: hsl(152, 57.5%, 37.6%);
  --colors-green11: hsl(153, 67%, 28.5%);
  --colors-green12: hsl(155, 40%, 14%);

  --colors-orange1: hsl(24, 70%, 99%);
  --colors-orange2: hsl(24, 83.3%, 97.6%);
  --colors-orange3: hsl(24, 100%, 95.3%);
  --colors-orange4: hsl(25, 100%, 92.2%);
  --colors-orange5: hsl(25, 100%, 88.2%);
  --colors-orange6: hsl(25, 100%, 82.8%);
  --colors-orange7: hsl(24, 100%, 75.3%);
  --colors-orange8: hsl(24, 94.5%, 64.3%);
  --colors-orange9: hsl(24, 94%, 50%);
  --colors-orange10: hsl(24, 100%, 46.5%);
  --colors-orange11: hsl(24, 100%, 37%);
  --colors-orange12: hsl(15, 60%, 17%);
}

[data-theme="dark"] {
  --logo-gh: #ffffff;

  --bg-faded: var(--colors-gray950);
  --bg-color: var(--colors-gray900);
  --bg-highlighted: var(--colors-gray1000);

  --body-color-faded: var(--colors-gray700);
  --body-color: var(--colors-gray300);
  --body-color-highlighted: var(--colors-gray0);

  --border-color: var(--colors-gray800);

  --arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='none' stroke='%23cbd5e1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' %3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3Cpolyline points='12 5 19 12 12 19'%3E%3C/polyline%3E%3C/svg%3E");

  --filter-faded: brightness(0.5);
  --filter-highlight: brightness(10);

  --link-color: var(--colors-gray300);
  --link-color-hover: var(--colors-gray0);

  --colors-panel: var(--colors-gray950);
  --colors-transparentPanel: hsl(0 100% 100% / 97%);

  --colors-shadowLight: hsl(206 22% 7% / 35%);
  --colors-shadowDark: hsl(206 22% 7% / 20%);
}
