.cardContent {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 20px;
}

.handle {
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px 4px;
}

.bgImage,
.bgVideo {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.linkText {
  display: flex;
  align-items: center;
  gap: 4px;
}

.linkText svg {
  transform: translateY(-2px);
}
