/* Card */
.react-flow__node-card {
  display: flex;
  height: 300px;
  width: 400px;
}

/* Text */
.react-flow__node-text {
  padding: 20px;
}

/* Controls */
.react-flow__controls {
  box-shadow:
    var(--colors-shadowLight) 0px 10px 38px -10px,
    var(--colors-shadowDark) 0px 10px 20px -15px;
}

.react-flow__controls button {
  background-color: transparent;
  color: var(--body-color);
  border: 1px solid var(--border-color);
  backdrop-filter: blur(10px);
  transition: background-color 0.2s ease;
}

.react-flow__controls button:hover {
  background-color: var(--bg-highlighted);
}

.react-flow__controls button:first-child {
  border-radius: 5px 5px 0 0;
}

.react-flow__controls button:last-child {
  border-radius: 0 0 5px 5px;
}

.react-flow__controls button path {
  fill: var(--body-color);
}

/* Minimap */
.react-flow__panel.react-flow__minimap {
  --minimap-mask: rgba(0, 0, 0, 0.05);
  --node-color: var(--bg-highlighted);

  background-color: var(--bg-color-highlighted);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  overflow: hidden;
}

[data-theme="dark"] {
  .react-flow__minimap {
    --node-color: var(--body-color-faded);
    --minimap-mask: rgba(0, 0, 0, 0.5);
  }
}

/* Responsive - mobile */
@media screen and (max-width: 600px) {
  .react-flow__controls,
  .react-flow__minimap {
    display: none;
  }
}
