.text {
  --l: 0%;
  position: relative;
  background-color: var(--bg-contrast);
  background-image: linear-gradient(
    110deg,
    var(--body-color) 0,
    var(--body-color) var(--l),
    var(--bg-contrast) var(--l),
    var(--bg-contrast)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text::after {
  --l: 0%;
  content: "";
  background-color: var(--body-color);
  width: 0.4rem;
  height: 32px;
  position: absolute;
  top: 4px;
  will-change: left;
  left: var(--l);
  transform: skew(-20deg);
}

.entering,
.entering::after {
  transition: --l 0.5s linear;
  animation: animateTextIn 0.5s linear forwards;
}

.entered,
.entered::after {
  --l: 102%;
}

.reveal,
.reveal::after {
  transition: --l 0.5s linear 5s;
  animation: animateTextReveal 0.5s linear infinite;
}

@keyframes animateTextIn {
  from {
    --l: 0%;
  }
  to {
    --l: 102%;
  }
}

@keyframes animateTextReveal {
  0% {
    --l: 102%;
  }
  50% {
    --l: 55%;
  }
  100% {
    --l: 102%;
  }
}
