.text {
  position: relative;
  overflow: hidden;
  padding: 0 2rem;
  margin: 0 -2rem;
}

.text::after {
  content: "";
  background-color: var(--bg-contrast);
  width: 100%;
  height: 100%;
  border-left: 4px solid var(--body-color);
  position: absolute;
  top: 0;
  left: 0;
  transform: skew(-20deg) translateX(5%);
}

.entering::after {
  animation: animateTextIn 0.5s ease-in forwards;
}

.entered::after {
  transform: skew(-20deg) translateX(95%);
}

.reveal::after {
  animation: animateTextReveal 0.5s ease-in infinite;
}

@keyframes animateTextIn {
  from {
    transform: skew(-20deg) translateX(5%);
  }
  to {
    transform: skew(-20deg) translateX(95%);
  }
}

@keyframes animateTextReveal {
  0% {
    transform: skew(-20deg) translateX(95%);
  }
  50% {
    transform: skew(-20deg) translateX(55%);
  }
  100% {
    transform: skew(-20deg) translateX(95%);
  }
}
