<link rel="import" href="../assets/lib/polymer/polymer.html">

<polymer-element name="my-sheep" noscript>
  <template>
    <style>
    .sheep-container .sheep-body {
      animation: sheep 1s infinite;
      -webkit-animation: sheep 1s infinite;
      -moz-animation: sheep 1s infinite; }
      .sheep-container .sheep-body .sheep-head {
        transition: transform 0.3s;
        -webkit-transition: -webkit-transform 0.3s;
        transform-origin: 65px 75px; }
        .sheep-container .sheep-body .sheep-head * {
          transition: transform 0.3s;
          -webkit-transition: -webkit-transform 0.3s; }
        .sheep-container .sheep-body .sheep-head .eye {
          transform-origin: 50%; }
        .sheep-container .sheep-body .sheep-head .ear {
          transform-origin: 50%; }
          .sheep-container .sheep-body .sheep-head .ear.front-ear {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
          .sheep-container .sheep-body .sheep-head .ear.back-ear {
            -webkit-transform: rotate(40deg);
            transform: rotate(40deg); }
        .sheep-container .sheep-body .sheep-head:hover .front-ear {
          -webkit-transform: rotate(60deg);
          transform: rotate(60deg); }
        .sheep-container .sheep-body .sheep-head:hover .back-ear {
          -webkit-transform: rotate(70deg);
          transform: rotate(70deg); }
      .sheep-container .sheep-body:hover {
        animation-play-state: paused;
        -webkit-animation-play-state: paused;
        /* Safari and Chrome */ }
        .sheep-container .sheep-body:hover .sheep-head {
          -webkit-transform: rotate(30deg);
          transform: rotate(30deg); }
        .sheep-container .sheep-body:hover .eye {
          -ms-transform: scale(1.3);
          -webkit-transform: scale(1.3);
          transform: scale(1.3); }
          .sheep-container .sheep-body:hover .eye .eye-ball {
            -webkit-transform: translate(3px, -3px);
            transform: translate(3px, -3px); }

    @-webkit-keyframes sheep {
      0% {
        transform: translateY(0);
        -webkit-transform: translateY(0); }

      50% {
        transform: translateY(0.2em);
        -webkit-transform: translateY(0.2em); } }

    @keyframes sheep {
      0% {
        transform: translateY(0);
        -webkit-transform: translateY(0); }

      50% {
        transform: translateY(0.2em);
        -webkit-transform: translateY(0.2em); } }

    </style>
    
    <div class="sheep-container">      
      <svg version="1.1" id="sheep" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="159.8px" height="136.1px" viewBox="0 0 159.8 136.1" preserveAspectRatio="xMidYMid meet">
      <ellipse id="shadow" opacity="0.6" fill="#919191" cx="90.6" cy="130" rx="69.2" ry="6.1"/>
      <g id="legs">
        <rect x="76.8" y="92.6" width="8" height="39.5"/>
        <rect x="96.3" y="92.6" width="8" height="39.5"/>
        <rect x="113.8" y="92.6" width="8" height="39.5"/>
        <rect x="132.8" y="92.1" width="8" height="40"/>
      </g>
      <g class="sheep-body">
        <circle id="body" fill="#FFFFFF" cx="102.6" cy="56.3" r="56.3"/>
        <g class="sheep-head">
          <ellipse class="back-ear ear" fill="#211E21" cx="15.3" cy="63" rx="11.7" ry="19.8"/>
          <path id="face" fill="#211E21" d="M89.5,73.6c0-21.9-17.8-39.7-39.7-39.7S10.1,51.7,10.1,73.6c0,8.6,2.7,16.5,7.4,23
            c-3.3,6-3.2,10.6-1.1,14.9c3.7,7.6,9.4,11.3,18.1,10.9c12.7-0.6,15.3-3.7,24-7.7c0,0,11-5.7,20.2-13.3
            C90.5,89.6,89.5,73.6,89.5,73.6z"/>
            <ellipse class="front-ear ear" fill="#211E21" cx="62.9" cy="38.1" rx="11.3" ry="19.6"/>
          <g class="left-eye eye">
            <ellipse class="left-eye-eye" fill="#FFFFFF" cx="54.3" cy="65.3" rx="8.2" ry="8.2"/>
            <ellipse class="left-eye-ball eye-ball" cx="54.1" cy="68.7" rx="4.2" ry="4.1"/>
          </g>
          <g class="right-eye eye">
            <ellipse class="right-eye-eye" fill="#FFFFFF" cx="19" cy="85.6" rx="8.2" ry="8.2"/>
            <ellipse class="right-eye-ball eye-ball" cx="17.7" cy="89.7" rx="4.2" ry="4.1"/>
          </g>
        </g>
      </g>
      <path id="grass" fill="#63A14D" d="M29.4,135.5c6.8,0.1,27.4,0.2,27.4,0.2s-0.4-10,6.8-11.8c-4.9-0.6-8.7,3.2-11.6,4.9
        c-0.2-10,5.9-12,5.8-12c-6.6,1.1-7.7,4.1-10.3,7.6C46,118,43.3,108,36,102.1c3.1,6.8,6.4,12.7,4.5,24.4c-3.9-11.7-6.7-12.8-9.1-14.4
        c4.9,9.2,2.8,16.2,2.8,16.2s-4.7-5-8.9-5.9C29.4,125.8,30.6,131.3,29.4,135.5z"/>
      </svg>
    </div>
    
  </template>
</polymer-element>