{
  "presets": ["next/babel"],
  "plugins": [
    [
      "@stylexjs/babel-plugin",
      {
        "dev": false,
        "runtimeInjection": false,
        "enableInlinedConditionalMerge": true,
        "treeshakeCompensation": true,
        "unstable_moduleResolution": { "type": "commonJS" }
      }
    ]
  ]
}
