/* Icons */
@font-face {
  font-family: 'kaiyu-fonts';
  src: url('font/kaiyu-fonts.eot?83619896');
  src: url('font/kaiyu-fonts.eot?83619896#iefix') format('embedded-opentype'),
       url('font/kaiyu-fonts.woff?83619896') format('woff'),
       url('font/kaiyu-fonts.ttf?83619896') format('truetype'),
       url('font/kaiyu-fonts.svg?83619896#kaiyu-fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'kaiyu-fonts';
    src: url('../font/kaiyu-fonts.svg?83619896#kaiyu-fonts') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "kaiyu-fonts";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-delete:before { content: '\e800'; } /* '' */
.icon-down-open-big:before { content: '\e801'; } /* '' */
.icon-left-open-big:before { content: '\e802'; } /* '' */
.icon-right-open-big:before { content: '\e803'; } /* '' */
.icon-up-open-big:before { content: '\e804'; } /* '' */
.icon-up-open-mini:before { content: '\e805'; } /* '' */
.icon-right-open-mini:before { content: '\e806'; } /* '' */
.icon-left-open-mini:before { content: '\e807'; } /* '' */
.icon-down-open-mini:before { content: '\e808'; } /* '' */
.icon-move:before { content: '\e809'; } /* '' */
.icon-rocket:before { content: '\e80a'; } /* '' */
.icon-arrow-up:before { content: '\e80b'; } /* '' */
.icon-mail:before { content: '\e80c'; } /* '' */
.icon-arrow-down:before { content: '\e80d'; } /* '' */
.icon-cloud:before { content: '\e80e'; } /* '' */
.icon-ellipsis:before { content: '\e810'; } /* '' */
.icon-ribbon:before { content: '\e811'; } /* '' */
.icon-heart:before { content: '\e812'; } /* '' */
.icon-box:before { content: '\e815'; } /* '' */
.icon-menu:before { content: '\e818'; } /* '' */
.icon-open:before { content: '\e820'; } /* '' */
.icon-trash:before { content: '\e82a'; } /* '' */
.icon-maximize:before { content: '\e82d'; } /* '' */
.icon-minimize:before { content: '\e82e'; } /* '' */
.icon-plus:before { content: '\e82f'; } /* '' */
.icon-minus:before { content: '\e830'; } /* '' */
.icon-check:before { content: '\e831'; } /* '' */
.icon-cross:before { content: '\e832'; } /* '' */
.icon-arrow-right:before { content: '\e837'; } /* '' */
.icon-arrow-left:before { content: '\e838'; } /* '' */
.icon-reload:before { content: '\e846'; } /* '' */
.icon-repeat:before { content: '\e85f'; } /* '' */
.icon-align-justify:before { content: '\e872'; } /* '' */
.icon-align-left:before { content: '\e873'; } /* '' */
.icon-align-center:before { content: '\e874'; } /* '' */
.icon-align-right:before { content: '\e875'; } /* '' */
.icon-bell:before { content: '\e876'; } /* '' */
.icon-spin1:before { content: '\e88c'; } /* '' */
.icon-github:before { content: '\e88e'; } /* '' */
.icon-msn:before { content: '\e88f'; } /* '' */
.icon-linkedin:before { content: '\e890'; } /* '' */
.icon-facebook:before { content: '\e891'; } /* '' */
.icon-dribbble:before { content: '\e892'; } /* '' */
.icon-twitter:before { content: '\e893'; } /* '' */
.icon-github-circled:before { content: '\e894'; } /* '' */
