html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: lightgray;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-overflow-scrolling: touch;
}

.scene {
    position: relative;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.text {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2em;
    color: white;
    font-weight: bold;
    letter-spacing: -0.8px;
    line-height: 0.7;
    margin-bottom: 15px;
}

my-sheep {
    position: relative;
}

.social-media {
  line-height: 30px;
  margin-top: 10px; }
  .social-media a {
    margin-right: 5px;
    color: #99999a;
    padding: 6px;
    text-decoration: none;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }
    .social-media a.git:hover {
      color: #333; }
    .social-media a.twitter:hover {
      color: #55acee; }
    .social-media a.linkedin:hover {
      color: #4875B4; }
    .social-media a.dribbble:hover {
      color: #ea4c89; }

/* Icons */
@font-face {
  font-family: 'kaiyu-fonts';
  src: url('font/kaiyu-fonts.eot?83619896');
  src: url('font/kaiyu-fonts.eot?83619896#iefix') format('embedded-opentype'),
       url('font/kaiyu-fonts.woff?83619896') format('woff'),
       url('font/kaiyu-fonts.ttf?83619896') format('truetype'),
       url('font/kaiyu-fonts.svg?83619896#kaiyu-fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'kaiyu-fonts';
    src: url('../font/kaiyu-fonts.svg?83619896#kaiyu-fonts') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "kaiyu-fonts";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-delete:before { content: '\e800'; } /* '' */
.icon-down-open-big:before { content: '\e801'; } /* '' */
.icon-left-open-big:before { content: '\e802'; } /* '' */
.icon-right-open-big:before { content: '\e803'; } /* '' */
.icon-up-open-big:before { content: '\e804'; } /* '' */
.icon-up-open-mini:before { content: '\e805'; } /* '' */
.icon-right-open-mini:before { content: '\e806'; } /* '' */
.icon-left-open-mini:before { content: '\e807'; } /* '' */
.icon-down-open-mini:before { content: '\e808'; } /* '' */
.icon-move:before { content: '\e809'; } /* '' */
.icon-rocket:before { content: '\e80a'; } /* '' */
.icon-arrow-up:before { content: '\e80b'; } /* '' */
.icon-mail:before { content: '\e80c'; } /* '' */
.icon-arrow-down:before { content: '\e80d'; } /* '' */
.icon-cloud:before { content: '\e80e'; } /* '' */
.icon-ellipsis:before { content: '\e810'; } /* '' */
.icon-ribbon:before { content: '\e811'; } /* '' */
.icon-heart:before { content: '\e812'; } /* '' */
.icon-box:before { content: '\e815'; } /* '' */
.icon-menu:before { content: '\e818'; } /* '' */
.icon-open:before { content: '\e820'; } /* '' */
.icon-trash:before { content: '\e82a'; } /* '' */
.icon-maximize:before { content: '\e82d'; } /* '' */
.icon-minimize:before { content: '\e82e'; } /* '' */
.icon-plus:before { content: '\e82f'; } /* '' */
.icon-minus:before { content: '\e830'; } /* '' */
.icon-check:before { content: '\e831'; } /* '' */
.icon-cross:before { content: '\e832'; } /* '' */
.icon-arrow-right:before { content: '\e837'; } /* '' */
.icon-arrow-left:before { content: '\e838'; } /* '' */
.icon-reload:before { content: '\e846'; } /* '' */
.icon-repeat:before { content: '\e85f'; } /* '' */
.icon-align-justify:before { content: '\e872'; } /* '' */
.icon-align-left:before { content: '\e873'; } /* '' */
.icon-align-center:before { content: '\e874'; } /* '' */
.icon-align-right:before { content: '\e875'; } /* '' */
.icon-bell:before { content: '\e876'; } /* '' */
.icon-spin1:before { content: '\e88c'; } /* '' */
.icon-github:before { content: '\e88e'; } /* '' */
.icon-msn:before { content: '\e88f'; } /* '' */
.icon-linkedin:before { content: '\e890'; } /* '' */
.icon-facebook:before { content: '\e891'; } /* '' */
.icon-dribbble:before { content: '\e892'; } /* '' */
.icon-twitter:before { content: '\e893'; } /* '' */
.icon-github-circled:before { content: '\e894'; } /* '' */


/* CHANGE ME TO ANY COLOR TO EXPERIMENT */
$change-me: #f8fafb;

::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }

$brand-font: 'Open Sans', sans-serif;

body {
  background: lighten($change-me, 40%);
  margin: 0;
}

.content {
  padding: 75px 0;
}

.stripes-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  @include background(
    linear-gradient(45deg, 
      rgba(255, 255, 255, .15) 25%, 
      transparent 50%, 
      transparent)
  );
  @include background-size(4px 4px);
  z-index: -1;
}

h1 {
  font-size: 5em;
  text-align: center;
  margin-bottom: .5em;
}
p {
  font-size: 1.5em;
  font-family: sans-serif;
  font-weight: 100;
  text-align: center;
  color: darken(rgba($change-me, .75), 35%);
}

.brand {
  font-family: $brand-font;
  font-weight: 700;
  color: rgba($change-me, .75);
  letter-spacing: -7px;
}

/* the magic */

.inner-shadow {
  @include text-shadow(
    0.5px 0.866px 2px lighten($change-me, 45%),
    0px 0px 0px darken($change-me, 100%),
    0px 0px 2px lighten($change-me, 80%)
   );
}

