.scramble > span {
  position: relative;
  color: transparent;
}

.scramble > span::after {
  content: attr(data-char);
  position: absolute;
  display: inline-block;
  inset: 0;
  color: canvasText;
  animation: flash calc(var(--speed, 0.25) * 1s) calc(var(--index, 0) * 0.05s)
    steps(1, end);
}

@keyframes flash {
  0%,
  20% {
    content: "_";
  }
  40% {
    content: var(--char-1);
  }
  60% {
    content: var(--char-2);
  }
  80% {
    content: var(--char-3);
  }
}

.section {
  overflow: hidden;
}

.section > * {
  opacity: 0;
  transform: translateY(30px);
  animation: animateSectionIn;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out-out;
}

@keyframes animateSectionIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
