.badge {
  background: linear-gradient(var(--bg-color), var(--bg-color)) padding-box,
    conic-gradient(#94a3b8, #334155 25%, #334155 75%, #94a3b8 100%) border-box;
  font-size: 0.75rem;
  padding: 6px 12px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  align-self: baseline;
  border: 1px solid transparent;
}

.badge::before {
  content: "";
  background-color: rgb(30 41 59 / 0.3);
  border-radius: 9999px;
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.badgeContent {
  position: relative;
}
