.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  position: fixed;
  bottom: 4vh;
  left: 0;
  right: 0;
  z-index: 10;
  pointer-events: none;
}

.list {
  --border-radius: 20px;

  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  gap: 8px;
  padding: 12px;
  box-shadow: rgba(15, 23, 42, 0.12) 0px 30px 60px 0px;
  border-radius: var(--border-radius);
  background: var(--dock-bg);
  pointer-events: auto;
}

.item {
  --gradient-from: var(--colors-gray50);
  --gradient-to: var(--colors-gray100);
  --gradient-stops:
    var(--gradient-from), var(--gradient-to, hsla(0, 0%, 94%, 0));
  --shadow: inset 0 1px 0 0 #ffffff0d;
  --ring-offset-shadow: 0 0 #fff;
  --ring-shadow: 0 0 #fff;

  color: var(--body-color);
  position: relative;
  display: flex;
  aspect-ratio: 1 / 1;
  align-items: center;
  justify-content: center;
  border-radius: 25%;
  background: var(--gradient-to);
  background-image: linear-gradient(to top, var(--gradient-stops));
  box-shadow:
    var(--ring-offset-shadow, 0 0 #0000), var(--ring-shadow, 0 0 #0000),
    var(--shadow);
  z-index: 1;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip {
  position: absolute;
  top: -32px;
  left: 50%;
  width: -moz-fit-content;
  white-space: pre;
  border-radius: 0.375rem;
  border: 1px solid var(--border-color);
  background-color: var(--colors-panel);
  padding: 2px 8px;
  font-size: 0.75rem;
  color: var(--body-color);
}

[data-theme="dark"] .item {
  --gradient-from: var(--colors-gray950);
  --gradient-to: var(--colors-gray900);
  --gradient-stops:
    var(--gradient-from), var(--gradient-to, hsla(0, 0%, 6%, 0));
  --shadow: inset 0 1px 0 0 #ffffff0d;
  --ring-offset-shadow: 0 0 #0000;
  --ring-shadow: 0 0 #0000;
}

.activeDot {
  --size: 3px;
  --gradient-from: #0f172a00;
  --gradient-to: #0f172a66;

  position: absolute;
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  background-color: var(--body-color-faded);
  left: calc(50% - var(--size) / 2);
  bottom: -8px;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-name: fadeInScaleX;
}

@keyframes fadeInScaleX {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

.glassFilterEffect {
  position: absolute;
  z-index: 0;
  inset: 0;
  backdrop-filter: blur(3px);
  filter: url("#glass-distortion");
  overflow: hidden;
  isolation: isolate;
  border-radius: var(--border-radius);
}
