.container {
  padding: 90px 0 36px;
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: sticky;
  padding-left: 48px;
  top: 30%;
  width: 264px;
  margin-top: -144px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 32px;
    height: 1px;
    background-color: var(--colors-gray400);
  }
}

[data-theme="dark"] .aside::before {
  background-color: var(--colors-gray700);
}

.asideTitle {
  color: canvasText;
}

.asideDescription {
  color: var(--body-color-faded);
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 768px;
  margin: 0 auto;
  padding: 0 20px;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 1300px) {
  .projects {
    max-width: 600px;
  }
}

@media screen and (max-width: 1080px) {
  .projects {
    max-width: 450px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    padding: 60px 0 36px;
  }

  .aside {
    display: none;
  }

  .projects {
    padding: 0 28px;
    max-width: 100%;
  }
}
