.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 768px;
  margin: 0 auto;
  padding: 0 20px 140px;
}

.title {
  color: canvasText;
}

.list {
  display: flex;
  flex-direction: column;

  li a {
    display: flex;
    padding: 14px 0;
    border-bottom: 1px dotted var(--border-color);
  }
}

@media screen and (max-width: 1300px) {
  .container {
    max-width: 600px;
  }
}

@media screen and (max-width: 1080px) {
  .container {
    max-width: 450px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    padding: 0 28px 140px;
    max-width: 100%;
  }
}
