:root {
  --logo-gh: #333333;
  --logo-tw: #55acee;
  --logo-in: #4875b4;
  --logo-dr: #ea4c89;
}

:root[color-mode="light"] {
  --main-bg-color: #f9fafb;
  --main-body-faded: #cdd2d6;
  --main-body-color: #596677;
  --main-highlight: #263238;
  --main-content-bg-color: #ffffff;

  --brand-purple: #6b74e6;
  --brand-purple-opaque: #6b74e680;

  --arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='none' stroke='%23263238' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' %3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3Cpolyline points='12 5 19 12 12 19'%3E%3C/polyline%3E%3C/svg%3E");

  --tippy-shadow: 0 0 20px 4px rgba(154, 161, 177, 0.15),
    0 4px 80px -8px rgba(36, 40, 47, 0.25),
    0 4px 4px -2px rgba(91, 94, 105, 0.15);
}

:root[color-mode="dark"] {
  --main-bg-color: #111827;
  --main-body-faded: #596677;
  --main-body-color: #d1d5db;
  --main-highlight: #f3f4f6;
  --main-content-bg-color: #1f2937;
  --brand-purple: #6b74e6;
  --brand-purple-opaque: #ddd6fe;

  --arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='none' stroke='%23F3F4F6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' %3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3Cpolyline points='12 5 19 12 12 19'%3E%3C/polyline%3E%3C/svg%3E");

  --tippy-shadow: 0 0 20px 4px rgba(154, 161, 177, 0.05),
    0 4px 80px -8px rgba(36, 40, 47, 0.15),
    0 4px 4px -2px rgba(91, 94, 105, 0.05);

  --logo-gh: #ffffff;
}

:root[color-mode="light"] .light-hidden {
  display: none;
}

:root[color-mode="dark"] .dark-hidden {
  display: none;
}

.faded-content {
  color: var(--main-body-faded);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Gilroy", "Helvetica", sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
  color: var(--main-body-color);
  background-color: var(--main-bg-color);
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  transition: background-color 0.23s ease, color 0.23s ease;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 2.2rem;
  white-space: nowrap;
}

h1 {
  line-height: 1.2;
  font-size: 4rem;
}

h2 {
  line-height: 1.25;
  font-size: 2.6rem;
}

h3 {
  line-height: 1.3;
  font-size: 2rem;
}

h4 {
  line-height: 1.35;
  font-size: 1.6rem;
}

h5 {
  line-height: 1.5;
  font-size: 1.4rem;
}

h6 {
  line-height: 1.6;
  font-size: 1.2rem;
}

p {
  margin-top: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

picture {
  display: flex;
}

button {
  text-align: inherit;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 3rem 0;
  list-style: none;
}

li {
  padding-left: 24px;
  background-image: var(--arrow);
  background-repeat: no-repeat;
  background-position-y: 6px;
  margin-bottom: 4px;
}

a:active,
a:focus {
  outline: auto 1px var(--brand-purple);
}

.color-mode-header {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;
}

.link {
  font-weight: 500;
  outline: none;
  text-decoration: none;
  position: relative;
  line-height: 1;
  display: inline-flex;
  overflow: hidden;
  border-bottom: 1px dotted var(--brand-purple);
  color: var(--brand-purple);
  transition: border-color 0.4s ease;
}

.link:hover {
  color: var(--brand-purple);
  border-color: var(--main-highlight);
}

.link::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  top: 50%;
  margin-top: -1px;
  right: 0;
  background: white;
  transform: translate3d(-102%, 0, 0);
  transition: transform 0.4s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.link:hover::after {
  transform: translate3d(102%, 0, 0);
}

.link::before {
  content: attr(data-letters);
  position: absolute;
  z-index: 2;
  overflow: hidden;
  color: var(--main-highlight);
  white-space: nowrap;
  width: 0%;
  transition: width 0.4s 0.3s;
}

.link:hover::before {
  width: 100%;
}

.link:focus {
  outline: auto 1px var(--brand-purple-opaque);
}

/*
  PAGE
  ========
*/
.scene {
  position: relative;
  display: flex;
  padding: 30px 65px;
}

.content-wrapper {
  position: relative;
  background-color: var(--main-content-bg-color);
  max-width: 640px;
  overflow: hidden;
  width: 0;
  transition: background-color 0.23s ease;
}

.content {
  position: relative;
  z-index: 1;
  padding: 100px 60px 70px 100px;
}

.content-title {
  display: inline-block;
  padding-right: 20px;
}

.content-subtitle {
  display: inline-block;
  font-size: 1.3rem;
  line-height: 2;
  color: var(--main-highlight);
  transition: color 0.23s ease;
}

.content-section {
  margin-bottom: 3rem;
  line-height: 2;
}

.content-header > h3 {
  display: inline-block;
  margin-bottom: 1rem;
}

.content-line {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}

.reveal-content {
  position: absolute;
  overflow: hidden;
  left: 0;
  width: 0;
}

.block-revealer-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-content-bg-color);
  pointer-events: none;
  opacity: 0;
}

.footer {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: -50px;
  right: -50px;
  height: 21vw;
  background: url("url:assets/images/fg.webp"), url("url:assets/images/fg.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.opacity-0 {
  opacity: 0;
}

@media (max-width: 750px) {
  .content-line {
    display: inline;
    white-space: normal;
  }
}

@media (max-width: 500px) {
  .content-wrapper {
    max-width: 100%;
  }
  .scene {
    padding: 0 0 90px;
  }
  .content {
    padding: 40px 40px 30px;
  }
  .fg {
    left: -20px;
    right: -20px;
  }
  .hidden-mobile {
    display: none;
  }
  .tooltip-multi img {
    max-height: 150px;
  }
  .footer {
    height: 110px;
  }
}

.sm-wrapper {
  padding: 12px;
  background-color: var(--main-content-bg-color);
  border-radius: 4px;
  margin-left: -12px;
  transition: background-color 0.23s ease;
}

.sm-wrapper > a {
  display: inline-flex;
  margin-right: 5px;
  padding: 7px;
  text-decoration: none;
}

.sm-wrapper > a path {
  transition: fill 0.3s ease-in-out;
}

.sm-wrapper > a.git:hover path {
  fill: var(--logo-gh);
}
.sm-wrapper > a.twitter:hover path {
  fill: var(--logo-tw);
}
.sm-wrapper > a.linkedin:hover path {
  fill: var(--logo-in);
}
.sm-wrapper > a.dribbble:hover path {
  fill: var(--logo-dr);
}

.logo {
  position: absolute;
  top: 35px;
  opacity: 0.5;
}

#shape-icosahedron {
  position: absolute;
  background: url("url:./assets/images/shadow.png");
  background-size: auto 60%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 450px;
  height: 450px;
  z-index: 1;
  right: 20%;
  top: -205px;
  pointer-events: all;
}

#shape-icosahedron > canvas:focus {
  outline: none;
}

@media (max-width: 500px) {
  #shape-icosahedron {
    top: -70px;
    right: 10%;
    width: 150px;
    height: 150px;
  }
}

.tooltip-multi {
  display: grid;
  grid-template-columns: auto auto;
}

.tooltip-multi a {
  transition: filter 0.4s ease;
}

.tooltip-multi:hover a {
  filter: grayscale(100%);
}

.tooltip-multi:hover a:hover {
  filter: grayscale(0);
}

/* Tippy Styles */
[data-tippy-root] {
  max-width: calc(100vw - 10px);
}
.tippy-box {
  position: relative;
  color: var(--main-highlight);
  box-shadow: var(--tippy-shadow);
  background-color: var(--main-bg-color);
  border-radius: 4px;
  font-size: 1.4rem;
  line-height: 1.4;
  outline: 0;
  transition-property: transform, visibility, opacity;
}
.tippy-box[data-inertia][data-state="visible"] {
  transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}
.tippy-content {
  position: relative;
  padding: 8px;
  z-index: 1;
}
.tippy-content img {
  object-fit: cover;
}
.tippy-box[data-animation="shift-away-subtle"][data-state="hidden"] {
  opacity: 0;
}
.tippy-box[data-animation="shift-away-subtle"][data-state="hidden"][data-placement^="top"] {
  transform: translateY(5px);
}
.tippy-box[data-animation="shift-away-subtle"][data-state="hidden"][data-placement^="bottom"] {
  transform: translateY(-5px);
}
.tippy-box[data-animation="shift-away-subtle"][data-state="hidden"][data-placement^="left"] {
  transform: translateX(5px);
}
.tippy-box[data-animation="shift-away-subtle"][data-state="hidden"][data-placement^="right"] {
  transform: translateX(-5px);
}
