html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background: #edf3f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1, p {
  margin: 0;
}

.scene {
  padding: 0 50px;
  position: relative;
  text-align: center;
}

.title {
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #68788c;
  letter-spacing: -0.8px;
  line-height: 2;
  margin-bottom: -20px;
  padding: 0 20px;
  z-index: 1;
}

.subtitle {
  font-family: Georgia, serif;
  color: #5f6b73;
  line-height: 1.4;
  padding: 20px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.subtitle a {
  color: #6b74e6;
}

.sm-wrapper {
  padding: 15px;
}
.sm-wrapper > a {
  margin-right: 5px;
  padding: 7px;
  text-decoration: none;
}

.sm-wrapper > a path {
  transition: fill 300ms ease-in-out;
}

.sm-wrapper > a.git:hover path {
  fill: #333;
}
.sm-wrapper > a.twitter:hover path {
  fill: #55acee;
}
.sm-wrapper > a.linkedin:hover path {
  fill: #4875B4;
}
.sm-wrapper > a.dribbble:hover path {
  fill: #ea4c89;
}

/* SHEEP */
.sheep-container .sheep-body {
  animation: sheep 1s infinite;
}
.sheep-container .sheep-body .sheep-head {
  transition: transform 0.3s;
  transform-origin: 65px 75px;
}
.sheep-container .sheep-body .sheep-head * {
  transition: transform 0.3s;
}
.sheep-container .sheep-body .sheep-head .eye,
.sheep-container .sheep-body .sheep-head .ear {
  transform-origin: 50%;
}
.sheep-container .sheep-body .sheep-head .ear.front-ear {
  transform: rotate(90deg);
}
.sheep-container .sheep-body .sheep-head .ear.back-ear {
  transform: rotate(40deg);
}
.sheep-container .sheep-body .sheep-head:hover .front-ear,
.sheep-container .sheep-body .sheep-head:active .front-ear {
  transform: rotate(60deg);
}
.sheep-container .sheep-body .sheep-head:hover .back-ear,
.sheep-container .sheep-body .sheep-head:active .back-ear {
  transform: rotate(70deg);
}
.sheep-container .sheep-body:hover,
.sheep-container .sheep-body:active {
  animation-play-state: paused;
}
.sheep-container .sheep-body:hover .sheep-head,
.sheep-container .sheep-body:active .sheep-head {
  transform: rotate(30deg);
}
.sheep-container .sheep-body:hover .eye,
.sheep-container .sheep-body:active .eye {
  transform: scale(1.3);
}
.sheep-container .sheep-body:hover .eye .eye-ball,
.sheep-container .sheep-body:active .eye .eye-ball {
  transform: translate(3px, -3px);
}

@keyframes sheep {
  0% { transform: translateY(0); }
  50% { transform: translateY(0.2em); }
}

.block-revealer__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  pointer-events: none;
  opacity: 0;
}
