.grid {
  width: 100%;
  height: 100%;
  user-select: none;
}

.grid:has(.card:hover) .card {
  filter: grayscale(100%) blur(3px);
}

.grid:has(.card:hover) .card:hover {
  filter: grayscale(0%) blur(0px);
}

.card {
  transition: filter 0.3s;
  overflow: hidden;
  position: absolute;
}

.card * {
  pointer-events: none;
}
