.container {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  padding: 9rem 2rem 14rem;
  margin: 0 auto;
  gap: 3.6rem;
}

.relative {
  position: relative;
}

.header {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}

.header > * {
  isolation: isolate;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list li {
  background-image: var(--arrow);
  background-position-y: 4px;
  background-repeat: no-repeat;
  margin-bottom: 4px;
  padding-left: 24px;
}

.projectList li {
  font-size: 2rem;
  background-position-y: 8px;
  margin-bottom: 8px;
}

.logos {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-gap: 2rem;
}

.logos img {
  width: 100%;
  height: auto;
  transition: filter ease 0.3s;
}

.logos a:focus img,
.logos img:hover {
  filter: var(--filter-highlight);
}

.socials {
  padding: 12px;
  border-radius: 4px;
  margin-left: -12px;
}

.socials > a {
  display: inline-flex;
  margin-right: 5px;
  padding: 7px;
  text-decoration: none;
}

.socials > a path {
  transition: fill 0.3s ease-in-out;
}

.git:hover path {
  fill: var(--logo-gh);
}

.twitter:hover path {
  fill: var(--logo-tw);
}

.linkedin:hover path {
  fill: var(--logo-in);
}

.dribbble:hover path {
  fill: var(--logo-dr);
}

.caption {
  margin-bottom: 1.6rem;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 6rem 3rem 14rem;
  }

  .logos {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .grid {
    gap: 3.6rem;
  }
}
