.container {
  display: flex;
  flex-direction: column;
  max-width: 720px;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 9rem;
  margin: 0 auto;
}

.header {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}

.header > * {
  isolation: isolate;
}

.title {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
}

.subtitle {
  font-size: 1.3rem;
  font-weight: 500;
}
